

.App{
    height: auto;
    width: 100%;
    background: rgb(216,217,255);
    background: linear-gradient(0deg, rgba(216,217,255,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

body{font-family: 'Poppins', sans-serif;}

.App .nimi {
    font-size: xxx-large;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1500px) {
    .App .CardClass {
        width: 100% !important;
        margin-top: 0 !important;
    }

    .App{
        padding-bottom: 0 !important;
    }


}

@media only screen and (max-width: 950px) {
    .App .OskusedBox {
        display: none;
    }

}

@media only screen and (min-width: 950px) {
    .App .OskusedNarrow {
        display: none;
    }

}


