

.App{
    height: auto;
    width: 100%;
    background: rgb(216,217,255);
    background: linear-gradient(0deg, rgba(216,217,255,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

body{font-family: 'Poppins', sans-serif;}

.App .nimi {
    font-size: xxx-large;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}
